.btn-primary:hover{
    background-color:red;
}
canvas{
    border:2px solid olivedrab;
    margin-top:40px;
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes example{
    0%{
        box-shadow:1px 2px 30px rgb(53, 131, 141);
    }
    50%{
        box-shadow:1px 2px 30px rgb(142, 196, 111);
    }
    100%{
        box-shadow:1px 2px 30px rgb(224, 67, 80);
    }
}
h1{
    font-size:30px !important;
}